/* ==========================================================================
    RESET
   ========================================================================== */

* {
    box-sizing: border-box;
    margin: 0;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    line-height: 1.3;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    width: 100%;
    display: inline-block;
}


/* ==========================================================================
    GENÉRICO
   ========================================================================== */

html,
body {
    min-height: 100vh;
}

a {
    text-decoration: none;
}

p {
    font-size: 16px;
    color: black,
}

p::first-letter {
    text-transform: capitalize;
    font-size: 1.3em;
}

:root {
    --accent-color: red;
    --background-color: #fffaeb;
    --background-secondary-color: #e7e3d7;
}

main {
    background-color: var(--background-color);
}

header nav {
    background-color: var(--background-secondary-color);
    height: 7rem;
    padding: 2rem;
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
}

#nav-links {
    font-size: 1.5em;
    list-style-type: none;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-flow: row;
    gap: 1em;
}

header img {
    width: 15rem;
    object-fit: cover;
}

footer {
    height: 9rem;
    background-color: var(--background-secondary-color);
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.contact-list {
    list-style-type: none;
    display: flex;
    flex-flow: row;
    gap: 2em;
    padding: 0.5rem;
}

.contact-link i {
    font-size: 30px;
}

h1 {
    font-size: 3rem;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 1.7em;
}

@media (max-width: 768px) { /*Para móvil*/

    header nav {
        flex-wrap: wrap;
        height: 9rem;
    }
    #nav-links {
        font-size: 1em;
    }
}


/* ==========================================================================
    PÁGINA: INDEX
   ========================================================================== */

#index {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3em;
    padding: 3em 10%;
    height: calc(100vh - 16rem); /*al 100% restarle la suma de la altura del header y del footer*/
}

#index__quote {
    width: 50%;
    display: flex;
    flex-flow: column;
    gap: 1em;
}

blockquote {
    font-size: 1.5rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
}

#index__quote p {
    font-size: 1rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: right;
}

@media (max-width: 768px) { /*Para móvil*/
    #index {
        flex-direction: column;
    }

    #index img {
        padding-top: 1em;
    }

    #index__quote {
        width: 100%;
        padding-bottom: 1em;
    }
}



/* ==========================================================================
    PÁGINA: BIOGRAFÍA
   ========================================================================== */

#biografia {
    display: flex;
    flex-flow: column;
    padding: 6em;
    gap: 1em;
}

#biografia p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.3rem;
    text-indent: 2em;
    text-align: justify;

}

.bio__2partes {
    display: flex;
    flex-flow: row;
    gap: 2em;
}

.foto1 {
    object-fit: cover;
    width: 20%;
}

.foto2 {
    object-fit: cover;
    width: 40%;
}

@media (max-width: 768px) { /*Para móvil*/
    .foto1, .foto2 {
        display: none;
    }
    #biografia {
        display: flex;
        flex-flow: column;
        align-items: center;
        padding: 2em;
        gap: 0;
    }
}


/* ==========================================================================
    PÁGINA: OBRAS
   ========================================================================== */

.obras__titulo {
    padding-top: 2em;
    padding-right: 3em;
    text-align: right;
}

#obras {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 1rem;
    gap: 2rem;
}

.obras__obra {
    width: 100%;
    border: 0.1em inset lightgray;
    border-radius: 5px;
}

.obras__obra img {
    width: 100%;
}

.obras__obra-texto {
    padding: 1.8rem;
}

.obras__obra-texto h3 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 2.5em;
    font-weight: bold;
    margin-bottom: 1em;
}

.obras__obra-texto li {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.5em;
}

@media (min-width: 768px) { /*Para ordenador*/

    #obras {
        justify-content: center;
    }
    .obras__obra {
        display:flex;
        flex-flow: column;
        align-items: center;
        width: 30%;
        margin: 1em;
        padding: 2em;
    }

    .obras__obra img {
        width: 15em;
    }
}


/* ==========================================================================
    PÁGINA: NEWSLETTER
   ========================================================================== */

.newsletter__titulo {
    padding-top: 2em;
    text-align: center;
}

#newsletter {
    display: flex;
    justify-content: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.3em;
    padding-bottom: 3em;
}

#newsletter__form--preguntas {
    display: flex;
    flex-flow: column;
    padding: 0em 4em 0em 4em;
    gap: 0.3em;
}

fieldset {
    border: 0.1em inset lightgray;
    border-radius: 5px;
    margin-bottom: 2em;
}

legend {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.7em;
    margin-left: 1em;
    margin-bottom: 1em;
}

#newsletter label, #newsletter input, #newsletter select, #newsletter textarea, button {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.1em;
}

#newsletter input, #newsletter select, #newsletter textarea {
    margin-bottom: 1em;
    margin-left: 1.5em;
}

#newsletter__form--buttons {
    display: flex;
    justify-content: center;
    gap: 2em;
}

#newsletter__form--buttons button {

    font-family: 'Courier New', Courier, monospace;
    width: 7em;
    height: 2.2em;
}

@media (max-width: 768px) { /*Para móvil*/
    .newsletter__titulo {
        font-size: 2em;
    }

    #newsletter {
        display: flex;
        flex-wrap: wrap;
        background-color: aqua;
        font-size: 1em;
        padding-left: 2em;
        padding-right: 2em;
    }

    fieldset {
        display: flex;
        width: 100%;
        background-color: #fabada;
        margin-left: 10em;
    }

    legend {
        font-size: 1em;
    }
}
